body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 70px;
    background: url("https://i.pinimg.com/736x/e3/7d/a9/e37da92d1e32051af32a81a8950733f3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

footer {
    background-color: #171716;
    color: yellow;
    text-align: center;
    padding: 10px;
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.card h1 {
    font-size: 20px;
    margin: 5px 0;
}

.card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.buttons {
    margin: 20px 0;
}

.buttons button {
    background: #171716;
    color: yellow;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
    transition: background 0.3s;
}

.buttons button:hover {
    background: #333;
}
